{
  "extends": "react-app",
  "rules": {
    "prefer-const": ["error"],
    "comma-dangle": ["error", "always-multiline"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "semi": ["error", "always"],
    "no-mixed-operators": [
      "warn",
      {
        "groups": [
          ['&', '|', '^', '~', '<<', '>>', '>>>'],
          ['==', '!=', '===', '!==', '>', '>=', '<', '<='],
          ['in', 'instanceof']
        ],
        "allowSamePrecedence": true
      }
    ],
    "quotes": ["error", "single"]
  }
}
