{
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}
